.tag_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.tag {
  border: 1px solid var(--text-color-secondary);
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--text-color-secondary);
  padding: 2px 6px 3px;
  max-width: 25%;
  max-height: 30px;
  overflow: hidden;
}
