.user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 46px;
  position: relative;
}

a:hover .user__name {
  text-decoration: underline;
}

.user__name {
  font-size: 18px;
  line-height: 28px;
  color: var(--heading-color);
  margin-right: 58px;
}

.user__created {
  font-size: 12px;
  line-height: 22px;
  margin-right: 58px;
  color: var(--text-color-secondary);
}

.user__avatar {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
}
