.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.prev,
.next,
.page_button,
.page_button_active {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 3.6px 8px;
  border-radius: 4px;
  transition: all 0.4s;
  text-decoration: none;
  color: var(--text-color);
}

.prev,
.next {
  /* font-size: 15px; */
  padding-bottom: 5px;
}

.prev:hover:not(:disabled),
.next:hover:not(:disabled),
.page_button:hover,
.page_button_active:hover,
.page_button_active {
  background: var(--primary-color);
  color: var(--btn-primary-color);
}

.prev:focus,
.next:focus,
.page_button:focus,
.page_button_active:focus {
  box-shadow: 0 0 2px 2px var(--normal-color);
}
