.like {
  display: flex;
  align-items: center;
}

.button {
  background: url(./like.svg) 50% 50% no-repeat;
  border: none;
  margin-right: 3px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.favorites {
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color);
}

.liked .button {
  background: url(./favorite.svg) 50% 50% no-repeat;
}

.error {
  margin-left: 10px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  color: var(--error-color);
}

.disabled .button {
  cursor: not-allowed;
}
