.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
  max-width: 700px;
}

.title {
  color: var(--info-color);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-right: 13px;
  text-decoration: none;
  max-height: 140px;
  overflow: hidden;
  word-wrap: break-word;
}

.description {
  max-width: 700px;
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-top: 4px;
  max-height: 140px;
  overflow: hidden;
  word-wrap: break-word;
}

.author {
  position: absolute;
  right: 15px;
  top: 15px;
}
